In [1]:
from search import tenderOpening
import pandas as pd
import pymysql
from sqlalchemy import create_engine

pymysql.install_as_MySQLdb()
import MySQLdb

engine = create_engine("mysql+mysqldb://root:845284@localhost/G2B", encoding = 'utf-8')
conn = engine.connect()

In [2]:
work = pd.read_sql_table('work', conn)
work.head()

,업무,공고번호,분류,공고명,공고기관,수요기관,계약방법,입력일시,투찰,바로가기
0,공사,20160515494-00,재입찰,북천리 자전거도로(데크) 보수공사,강원도 횡성군,강원도 횡성군,수의(소액),2016/05/16 13:28\n(2016/05/25 12:00),마감,http://www.g2b.go.kr:8081/ep/invitation/publis...
1,공사,20161221255-01,변경,병지방 산악자전거길 임도구간 안전 및 편의시설 설치공사,강원도 횡성군,강원도 횡성군,수의(소액),2016/12/15 17:53\n(2016/12/20 12:00),마감,http://www.g2b.go.kr:8081/ep/invitation/publis...
2,공사,20161120276-00,일반,태기산 1200 고원힐링 관광지 조성공사,강원도 횡성군,강원도 횡성군,수의(소액),2016/11/17 15:53\n(2016/11/22 12:00),마감,http://www.g2b.go.kr:8081/ep/invitation/publis...
3,공사,20170623842-00,일반,2017년 어답산(저수지 방면) 등산로 정비사업,강원도 횡성군,강원도 횡성군,수의(소액),2017/06/19 16:43\n(2017/06/23 12:00),마감,http://www.g2b.go.kr:8081/ep/invitation/publis...
4,공사,20170435324-00,일반,제52회 강원도민체육대회 꽃탑(꽃조형물) 설치공사,강원도 횡성군,강원도 횡성군,수의(소액),2017/04/24 20:53\n(2017/04/28 12:00),마감,http://www.g2b.go.kr:8081/ep/invitation/publis...

In [3]:
bidding = pd.read_sql_table('bidding', conn)
bidding.head()

,공고번호,순위,사업자 등록번호,업체명,대표자명,입찰금액,투찰률,추첨 번호,투찰일시,비고
0,20161221255-01,1,2248166679,주식회사 신흥조경,강성원,"26,720,000",87.943,15 04,2016/11/21 14:28:28,
1,20161221255-01,2,2248140683,주식회사 이원,이복균,"27,393,000",90.158,02 04,2016/11/21 09:27:45,
2,20161120276-00,1,2248166679,주식회사 신흥조경,강성원,"39,661,000",90.334,11 03,2017/06/23 11:48:23,
3,20161120276-00,2,2248140683,주식회사 이원,이복균,"39,970,000",91.037,01 06,2017/06/23 09:19:21,
4,20170623842-00,1,2248140683,주식회사 이원,이복균,"87,069,000",89.905,01 07,2017/04/28 09:29:11,

In [14]:
num = work['공고번호'][10]
results = tenderOpening(bidding, num)
results

,공고번호,순위,사업자 등록번호,업체명,대표자명,입찰금액,투찰률,추첨 번호,투찰일시,비고
16,20170805262-00,1,4028700959,성호건설(주),홍현표,"86,750,000",89.613,15 03,2018/05/16 20:15:04,
17,20170805262-00,2,2248166679,주식회사 신흥조경,강성원,"86,865,000",89.732,02 08,2018/05/19 09:58:47,
18,20170805262-00,3,2248140683,주식회사 이원,이복균,"88,313,000",91.228,15 09,2018/05/21 09:22:55,