In [1]:
from search import tenderOpening
import pandas as pd
import pymysql
from sqlalchemy import create_engine
from analysis import makeNum
pymysql.install_as_MySQLdb()
import MySQLdb

engine = create_engine("mysql+mysqldb://root:845284@localhost/G2B", encoding = 'utf-8')
conn = engine.connect()

In [2]:
work = pd.read_sql_table('work', conn)
bidding = pd.read_sql_table('bidding', conn)
basic = pd.read_sql_table('price', conn)

In [7]:
bidding.head()

,순위,사업자 등록번호,업체명,대표자명,입찰금액,투찰률,추첨 번호,투찰일시,비고,기초금액
0,1,2248166679,주식회사 신흥조경,강성원,"26,720,000",87.943,15 04,2016/11/21 14:28:28,,"30,437,000원"
1,2,2248140683,주식회사 이원,이복균,"27,393,000",90.158,02 04,2016/11/21 09:27:45,,"30,437,000원"
2,1,2248166679,주식회사 신흥조경,강성원,"64,800,000",90.218,11 10,2017/03/24 11:06:26,,"72,000,000원"
3,2,2248140683,주식회사 이원,이복균,"64,950,000",90.426,11 02,2017/03/23 10:52:22,,"72,000,000원"
4,1,2248140683,주식회사 이원,이복균,"87,069,000",89.905,01 07,2017/04/28 09:29:11,,"97,019,000원"

In [18]:
# 
# 에정금액 구하기
result = dict()

for idx, value in bidding[['입찰금액', '업체명', '투찰률', '기초금액']].iterrows():
    if value[1] not in result:
        result[value[1]] = [value[2]]
    else:
        result[value[1]].append(value[2])

In [19]:
result

{'주식회사 신흥조경': ['87.943',
  '90.218',
  '91.162',
  '90.334',
  '90.709',
  '89.427',
  '87.922',
  '88.073',
  '88.947',
  '89.732',
  '97.071',
  '89.371',
  '92.634',
  '87.786',
  '87.888',
  '88.359',
  '88.021',
  '87.817',
  '87.990',
  '87.959',
  '87.852',
  '87.734',
  '86.081',
  '89.137',
  '87.164',
  '88.546',
  '88.489',
  '87.845',
  '88.019',
  '88.546',
  '98.093',
  '88.191',
  '88.804',
  '87.524'],
 '주식회사 이원': ['90.158',
  '90.426',
  '89.905',
  '91.037',
  '91.421',
  '90.325',
  '88.616',
  '88.957',
  '89.093',
  '91.198',
  '91.228',
  '89.912',
  '87.308',
  '91.821',
  '89.472',
  '90.475',
  '89.170',
  '87.901',
  '88.343',
  '88.395',
  '88.584',
  '88.036',
  '88.334',
  '88.012',
  '87.936',
  '87.971',
  '86.341',
  '88.263',
  '87.740',
  '87.918',
  '87.751',
  '88.827',
  '87.740',
  '88.547',
  '88.682',
  '87.696',
  '87.885',
  '87.740',
  '87.888',
  '88.321',
  '88.682',
  '88.696',
  '87.368',
  '87.969',
  '88.930',
  '88.661',
  '87.459',
  '87.419',
  '87.988',
  '87.881',
  '88.302',
  '88.240',
  '88.267',
  '88.736',
  '88.165',
  '87.906',
  '87.704',
  '87.651',
  '88.571',
  '88.184',
  '86.741',
  '87.742',
  '88.841',
  '88.501',
  '87.462',
  '88.586'],
 '성호건설(주)': ['91.190',
  '89.613',
  '96.129',
  '89.791',
  '87.013',
  '91.485',
  '89.120',
  '90.164',
  '88.575',
  '90.619',
  '87.986',
  '88.189',
  '88.635',
  '87.729',
  '87.530',
  '88.196'],
 '(주) 공간과풍경': ['89.649',
  '89.370',
  '92.553',
  '91.174',
  '92.145',
  '87.880',
  '87.608',
  '88.135',
  '88.255',
  '88.745',
  '87.812',
  '87.582',
  '88.239',
  '87.715',
  '87.683',
  '87.561',
  '85.938',
  '88.828',
  '87.611',
  '87.302',
  '87.538',
  '88.545',
  '87.272',
  '88.910',
  '88.703',
  '87.445',
  '87.690',
  '87.272',
  '87.983',
  '88.215',
  '88.703',
  '88.605',
  '88.368',
  '88.153',
  '87.697',
  '88.319',
  '87.780',
  '87.301',
  '87.557',
  '87.264',
  '87.922',
  '88.087',
  '87.779',
  '88.281',
  '87.980',
  '87.655',
  '87.452',
  '87.399',
  '88.315',
  '87.908',
  '86.424',
  '87.404',
  '88.575',
  '88.360',
  '87.312',
  '88.242'],
 '주식회사 송산': ['87.537',
  '97.926',
  '87.676',
  '87.709',
  '87.568',
  '87.646',
  '88.309',
  '87.950',
  '88.551',
  '88.567',
  '87.542',
  '87.594',
  '87.950',
  '87.264',
  '87.588',
  '88.567',
  '89.371',
  '87.340',
  '87.641',
  '88.382',
  '89.380',
  '87.390',
  '87.254',
  '87.642',
  '87.740',
  '87.878',
  '88.651',
  '88.013',
  '89.023',
  '87.766',
  '87.666',
  '87.484',
  '86.712',
  '87.230',
  '88.146',
  '87.875',
  '87.177',
  '87.581',
  '88.677',
  '88.392',
  '87.356',
  '87.851'],
 '주식회사 호수': ['98.908',
  '87.570',
  '87.954',
  '101.096',
  '87.683',
  '88.626',
  '88.767',
  '87.752',
  '87.936',
  '87.683',
  '87.932',
  '88.321',
  '88.767',
  '88.930',
  '87.156'],
 '주식회사 으뜸': ['87.941',
  '87.558',
  '88.746',
  '87.885',
  '88.756',
  '88.874',
  '87.670',
  '87.821',
  '87.885',
  '87.707',
  '88.013',
  '88.874',
  '88.475',
  '88.214'],
 '주식회사 태호엘앤디': ['87.345', '87.518', '88.021', '86.844'],
 '주식회사 형 제': ['87.538',
  '87.706',
  '88.319',
  '87.653',
  '87.276',
  '87.187',
  '87.904',
  '87.073',
  '87.109',
  '89.043',
  '86.876',
  '88.460',
  '88.436',
  '88.289',
  '89.145',
  '86.402',
  '86.714',
  '87.828',
  '88.504',
  '89.503',
  '88.308',
  '87.704'],
 '횡성군산림조합': ['87.740',
  '87.983',
  '87.727',
  '87.898',
  '87.890',
  '88.599',
  '87.933',
  '87.876',
  '87.578',
  '87.521',
  '88.528',
  '87.734',
  '86.723',
  '87.787',
  '88.709',
  '88.750',
  '87.413',
  '88.544'],
 '(주) 삼흥건설': ['130.662',
  '85.183',
  '88.467',
  '90.727',
  '88.620',
  '88.610',
  '88.279',
  '88.961',
  '88.880',
  '88.542',
  '88.923',
  '88.175',
  '87.215',
  '87.015',
  '86.962',
  '87.875',
  '87.444',
  '87.785',
  '87.756',
  '89.076',
  '88.780',
  '87.693',
  '87.980'],
 '주식회사 나래토건': ['87.093', '88.238', '87.668', '87.384'],
 '천우조경(주)': ['87.747'],
 '인호개발주식회사': ['87.750'],
 '주식회사 동성조경': ['87.800'],
 '(자)일우건설': ['87.806'],
 '그린토주식회사': ['87.807'],
 '두타건설주식회사': ['87.823'],
 '주식회사 강산에': ['87.843'],
 '수원조경 주식회사': ['87.864'],
 '주식회사 가온디자인': ['87.871'],
 '고원조경개발주식회사': ['87.871'],
 '주식회사 효진조경개발': ['87.875'],
 '(주)청담조경': ['87.878'],
 '봉황산업(주)': ['87.879'],
 '(주)뉴텍건설': ['87.879'],
 '주식회사 도시와나무': ['87.889'],
 '주식회사 광희산업개발': ['87.935'],
 '정선조경개발 주식회사': ['87.937'],
 '주식회사 풍경이엔씨': ['87.973'],
 '주식회사 동원': ['87.979'],
 '수현개발주식회사': ['87.996'],
 '주식회사 산내들': ['88.030'],
 '주식회사 이오조경': ['88.039'],
 '주식회사 엠티랜드': ['88.047'],
 '주식회사 선': ['88.056'],
 '주식회사 조경동산': ['88.057'],
 '한서조경건설 주식회사': ['88.069'],
 '주식회사 만두건설': ['88.088'],
 '주식회사 양구조경': ['88.100'],
 '(주)강산조경': ['88.110'],
 '흥일건설주식회사': ['88.118'],
 '화림조경(주)': ['88.119'],
 '(주)미르': ['88.216'],
 '(주)현대조경': ['88.220'],
 '금강조경건설': ['88.250'],
 '주식회사 솔향조경개발': ['88.267'],
 '주식회사 유창조경개발': ['88.276'],
 '주식회사영일조경': ['88.285'],
 '주식회사 금록': ['88.344'],
 '주식회사 서원조경': ['88.367'],
 '동해안주식회사': ['88.381'],
 '극동산업개발주식회사': ['88.424'],
 '주식회사 동산': ['88.433'],
 '주식회사 온숲': ['88.441'],
 '주식회사 조은조경': ['88.561'],
 '주식회사 오색조경개발': ['88.627'],
 '주식회사 선진': ['88.668'],
 '자연애조경 주식회사': ['88.793', '86.427', '87.015', '88.692', '86.543', '88.318'],
 '푸른조경 주식회사': ['88.850'],
 '합자회사 콜로세움조경': ['89.005']}

In [134]:
#work.loc[10,'바로가기']
#20171132471-00')20171132471-00')
basic.loc[basic['공고번호'] == work_num]

              공고번호         기초금액
11  20171128845-00  35,317,000원

In [137]:
work.loc[11]

id                                                     12
업무                                                     공사
공고번호                                       20171128845-00
분류                                                     일반
공고명                                     산수골 등산로 안전시설 보강공사
공고기관                                              강원도 횡성군
수요기관                                              강원도 횡성군
계약방법                                               수의(소액)
입력일시                 2017/11/22 13:43\n(2017/11/28 12:00)
투찰                                                     마감
바로가기    http://www.g2b.go.kr:8081/ep/invitation/publis...
Name: 11, dtype: object