In [3]:
# 모자란 부분이 생김!!!!!!!!!
# 기초금액이,,, 누락됨..
from selenium import webdriver
import pandas as pd
import pymysql
from sqlalchemy import create_engine

pymysql.install_as_MySQLdb()
import MySQLdb

engine = create_engine("mysql+mysqldb://root:845284@localhost/G2B", encoding = 'utf-8')
conn = engine.connect()

work = pd.read_sql_table('work', conn)

In [12]:
price = pd.DataFrame(columns=['공고번호', '기초금액'])
driver = webdriver.Chrome('/Users/waterpurifier/Downloads/chromedriver')
for idx, url in enumerate(list(work['바로가기'])):
    temp = []
    temp.append(work['공고번호'][idx])
    try:
        driver.get(url)
        basic = driver.find_element_by_class_name('tr')
        basic = basic.text
    
    except Exception as e:
        print(e)
        basic = ''
        pass
    temp.append(basic)
    price.loc[idx] = temp
    if idx == 1: break
    #if idx == 5: break

'WebElement' object is not iterable
'WebElement' object is not iterable

In [15]:
kk.text

'20160515494-00'

In [ ]:
price.to_sql(name = 'price', con = engine, if_exists='append', index=False)

In [15]:
from Data import parse_G2B
from search import tenderOpening
import pandas as pd

fromDay = [2014, 6, 21]
toDay = [2021, 6, 21]
add = 1
# 조경시설물설치공사업, 조경식재공사업
biddingList, workList, priceList = parse_G2B('조경식재공사업',fromDay, toDay, add)

['2014', '07', '21']
['2014', '08', '21']
['2014', '09', '21']
['2014', '10', '21']
['2014', '11', '21']
['2014', '12', '21']
['2015', '01', '21']
['2015', '02', '21']
['2015', '03', '21']
['2015', '04', '21']
['2015', '05', '21']
['2015', '06', '21']
['2015', '07', '21']
['2015', '08', '21']
['2015', '09', '21']
['2015', '10', '21']
['2015', '11', '21']
['2015', '12', '21']
['2016', '01', '21']
['2016', '02', '21']
['2016', '03', '21']
['2016', '04', '21']
['2016', '05', '21']
['2016', '06', '21']
['2016', '07', '21']
['2016', '08', '21']
['2016', '09', '21']
['2016', '10', '21']
['2016', '11', '21']
['2016', '12', '21']
['2017', '01', '21']
['2017', '02', '21']
['2017', '03', '21']
['2017', '04', '21']
['2017', '05', '21']
['2017', '06', '21']
['2017', '07', '21']
['2017', '08', '21']
['2017', '09', '21']
['2017', '10', '21']
['2017', '11', '21']
['2017', '12', '21']
['2018', '01', '21']
['2018', '02', '21']
['2018', '03', '21']
['2018', '04', '21']
['2018', '05', '21']
['2018', '06', '21']
['2018', '07', '21']
['2018', '08', '21']
['2018', '09', '21']
['2018', '10', '21']
['2018', '11', '21']
['2018', '12', '21']
['2019', '01', '21']
['2019', '02', '21']
['2019', '03', '21']
['2019', '04', '21']
['2019', '05', '21']
['2019', '06', '21']
['2019', '07', '21']
['2019', '08', '21']
['2019', '09', '21']
['2019', '10', '21']
['2019', '11', '21']
['2019', '12', '21']
['2020', '01', '21']
['2020', '02', '21']
['2020', '03', '21']
['2020', '04', '21']
['2020', '05', '21']
['2020', '06', '21']
['2020', '07', '21']
['2020', '08', '21']
['2020', '09', '21']
['2020', '10', '21']
['2020', '11', '21']
['2020', '12', '21']
['2021', '01', '21']
['2021', '02', '21']
['2021', '03', '21']
['2021', '04', '21']
['2021', '05', '21']
Message: no such element: Unable to locate element: {"method":"css selector","selector":".tr"}
  (Session info: chrome=91.0.4472.114)

In [16]:
biddingList

,순위,사업자 등록번호,업체명,대표자명,입찰금액,투찰률,추첨 번호,투찰일시,비고,기초금액
0,1,2248140683,주식회사 이원,이복균,"88,088,000",87.969,11 06,2016/11/04 10:35:20,,"99,990,000원"
1,2,2268129063,(주) 공간과풍경,김재덕,"88,272,100",88.153,02 03,2016/11/08 09:26:52,,"99,990,000원"
2,,1408120206,주식회사 태호엘앤디,이은희,"87,463,200",87.345,10 06,2016/11/04 15:34:24,낙찰하한선 미달,"99,990,000원"
3,,2248127147,주식회사 형 제,박계훈,"87,655,795",87.538,15 02,2016/11/04 10:10:03,낙찰하한선 미달,"99,990,000원"
4,,2248125339,주식회사 송산,김현숙,"87,759,560",87.641,14 13,2016/11/07 15:54:17,낙찰하한선 미달,"99,990,000원"
...,...,...,...,...,...,...,...,...,...,...
190,3,2268129063,(주) 공간과풍경,김재덕,"114,334,360",88.242,14 11,2021/04/07 07:40:51,,"130,570,000원"
191,4,1278197492,자연애조경 주식회사,정지연,"114,433,000",88.318,13 10,2021/04/07 11:45:04,,"130,570,000원"
192,5,2248200150,횡성군산림조합,양재관,"114,725,000",88.544,11 01,2021/04/07 18:04:29,,"130,570,000원"
193,6,2248140683,주식회사 이원,이복균,"114,780,280",88.586,01 10,2021/04/07 22:27:48,,"130,570,000원"
194,,2248127147,주식회사 형 제,박계훈,"113,636,575",87.704,11 10,2021/04/05 07:32:06,낙찰하한선 미달,"130,570,000원"

In [11]:
workList.loc[0, '바로가기']

'http://www.g2b.go.kr:8081/ep/invitation/publish/bidInfoDtl.do?bidno=20210512092&bidseq=00&releaseYn=Y&taskClCd=3'

In [7]:
import pymysql
from sqlalchemy import create_engine

pymysql.install_as_MySQLdb()
import MySQLdb

engine = create_engine("mysql+mysqldb://root:845284@localhost/G2B", encoding = 'utf-8')
conn = engine.connect()

#workList.to_sql(name = 'work', con = engine, if_exists='append', index = False)
#biddingList.to_sql(name = 'bidding', con = engine, if_exists='append', index=False)

In [17]:
biddingList.to_sql(name = 'bidding', con = engine, if_exists='append', index=False)