In [4]:
# 모자란 부분이 생김!!!!!!!!!
# 기초금액이,,, 누락됨..
from selenium import webdriver
import pandas as pd
import pymysql
from sqlalchemy import create_engine

pymysql.install_as_MySQLdb()
import MySQLdb

engine = create_engine("mysql+mysqldb://root:845284@localhost/G2B", encoding = 'utf-8')
conn = engine.connect()

work = pd.read_sql_table('work', conn)

In [5]:
price = pd.DataFrame(columns=['공고번호', '기초금액'])
driver = webdriver.Chrome('/Users/waterpurifier/Downloads/chromedriver')
for idx, url in enumerate(list(work['바로가기'])):
    temp = []
    temp.append(work['공고번호'][idx])
    try:
        driver.get(url)
        basic = driver.find_element_by_class_name('tr')
        basic = basic.text
    except Exception as e:
        print(e)
        basic = ''
        pass
    temp.append(basic)
    price.loc[idx] = temp
    #if idx == 5: breakasd

In [6]:
price

             공고번호         기초금액
0  20140806832-00  97,013,000원
1  20160515494-00  87,560,000원
2  20161120276-00  30,437,000원
3  20161221255-01  74,418,000원
4  20170336256-00  72,000,000원
5  20170435324-00  97,019,000원

In [ ]:
price.to_sql(name = 'price', con = engine, if_exists='append', index=False)

In [1]:
from Data import parse_G2B
from search import tenderOpening
import pandas as pd

fromDay = [2020, 6, 21]
toDay = [2021, 6, 21]
add = 1
# 조경시설물설치공사업, 조경식재공사업
biddingList, workList = parse_G2B('조경식재공사업',fromDay, toDay, add)

['2020', '07', '21']
['2020', '08', '21']
['2020', '09', '21']
['2020', '10', '21']
['2020', '11', '21']
['2020', '12', '21']
['2021', '01', '21']
['2021', '02', '21']
['2021', '03', '21']
['2021', '04', '21']
['2021', '05', '21']

In [2]:
workList

,업무,공고번호,분류,공고명,공고기관,수요기관,계약방법,입력일시,투찰,바로가기
0,공사,20210328981-00,일반,갑천면 삼거리 외 1개소 도로사면 유지보수공사,강원도 횡성군,강원도 횡성군,수의(소액)-견적입찰(2인 이상 견적 제출),2021/03/17 09:48\n(2021/03/23 12:00),마감,http://www.g2b.go.kr:8081/ep/invitation/publis...
1,공사,20210320902-00,일반,우항지구(대미원천) 유수소통 지장물 정비공사,강원도 횡성군,강원도 횡성군,수의(소액)-견적입찰(2인 이상 견적 제출),2021/03/12 11:15\n(2021/03/18 12:00),마감,http://www.g2b.go.kr:8081/ep/invitation/publis...
2,공사,20210307990-00,일반,조곡지구(전천) 유수소통 지장물 정비사업,강원도 횡성군,강원도 횡성군,수의(소액)-견적입찰(2인 이상 견적 제출),2021/03/05 11:24\n(2021/03/11 10:00),마감,http://www.g2b.go.kr:8081/ep/invitation/publis...
3,공사,20210307965-00,일반,추동지구(전천) 유수소통 지장물 정비사업,강원도 횡성군,강원도 횡성군,수의(소액)-견적입찰(2인 이상 견적 제출),2021/03/05 11:19\n(2021/03/11 10:00),마감,http://www.g2b.go.kr:8081/ep/invitation/publis...
4,공사,20210403554-00,일반,청일면 파크골프장 확장조성사업,강원도 횡성군,강원도 횡성군,수의(소액)-견적입찰(2인 이상 견적 제출),2021/04/02 17:21\n(2021/04/08 10:00),마감,http://www.g2b.go.kr:8081/ep/invitation/publis...
5,공사,20210630291-00,일반,2021년 방아천 도랑살리기 사업,강원도 횡성군,강원도 횡성군,수의(소액)-견적입찰(2인 이상 견적 제출),2021/06/21 14:36\n(2021/06/25 10:00),,http://www.g2b.go.kr:8081/ep/invitation/publis...
6,공사,20210630289-00,일반,2021년 잔골천 도랑살리기 사업,강원도 횡성군,강원도 횡성군,수의(소액)-견적입찰(2인 이상 견적 제출),2021/06/21 14:35\n(2021/06/25 10:00),,http://www.g2b.go.kr:8081/ep/invitation/publis...

In [7]:
import pymysql
from sqlalchemy import create_engine

pymysql.install_as_MySQLdb()
import MySQLdb

engine = create_engine("mysql+mysqldb://root:845284@localhost/G2B", encoding = 'utf-8')
conn = engine.connect()

workList.to_sql(name = 'work', con = engine, if_exists='append', index = False)
biddingList.to_sql(name = 'bidding', con = engine, if_exists='append', index=False)